<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WXPay</key>
	<dict>
		<key>appid</key>
		<string></string>
		<key>mch_id</key>
		<string></string>
		<key>notify_url</key>
		<string></string>
		<key>key</key>
		<string></string>
		<key>trade_type</key>
		<string>APP</string>
	</dict>
	<key>Alipay</key>
	<dict>
		<key>privateKey</key>
		<string></string>
		<key>appID</key>
		<string></string>
		<key>seller</key>
		<string></string>
		<key>partner</key>
		<string></string>
		<key>appScheme</key>
		<string>payDemo</string>
		<key>service</key>
		<string>mobile.securitypay.pay</string>
		<key>notifyURL</key>
		<string></string>
		<key>paymentType</key>
		<string>1</string>
		<key>inputCharset</key>
		<string>utf-8</string>
		<key>itBPay</key>
		<string>30m</string>
		<key>showUrl</key>
		<string>m.alipay.com</string>
	</dict>
</dict>
</plist>
